<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>MyMovieList</display-name>
    
    <!-- Faces Servlet Declaration -->
    <servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- JWT Filter Declaration -->
    <filter>
        <filter-name>JwtFilter</filter-name>
        <filter-class>com.mycompany.mymovielist.util.JwtFilter</filter-class>
    </filter>
    
    <!-- JWT Filter Mapping: Adjust the URL pattern as required -->
    <filter-mapping>
        <filter-name>JwtFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <context-param>
        <param-name>primefaces.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Map FacesServlet to process .xhtml files -->
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>availablemovies.xhtml</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/login.xhtml</location>
    </error-page>
    
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>luna-blue</param-value>
    </context-param>

</web-app>
